$gray100: #fff;
$gray200: #E5E5E5;
$gray300: #CCCCD0;
$gray400: #9A9BA0;
$gray500: #85868B;
$gray600: #6C6C6F;
$gray700: #4C4C50;
$gray800: #333335;
$gray900: #1C1C1E;
$gray1000: #000;
$gray1100: #837183;


$purple: #995AFF;
$lightpurple: #B99AEC;
$darkpurple: #440F88;
$pink: #FB74B5;
$lightpink: #FBC8E0;
$darkpink: #440F88;
$orange: #FFB13D;
$red: #FF4949;
$green: #28E172;
$vividgreen: #41C204;
$blue: #39AFFF;



